name: Pull Request Checks

on:
  pull_request:
    branches: ['main']

jobs:
  ci-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup golang
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'

      - name: Run tests
        run: make test

